.monaco-editor-container {
    height: 100%;
    width: 100%;
    min-height: 800px;
    text-align: left;
  }

  .monaco-editor-breakpoint {
    margin-left: 10%;
    border-radius: 100%;
    background: radial-gradient(
      circle at center,
      #ff0000 0%,
      #ff0000 30%,
      transparent 31%,
      transparent 100%
    );
  }
  
  .monaco-editor-breakpoint-shadow {
    margin-left: 10%;
    border-radius: 100%;
    background: radial-gradient(
      circle at center,
      rgba(255, 0, 0, 0.5) 0%,
      rgba(255, 0, 0, 0.5) 30%,
      transparent 31%,
      transparent 100%
    );
  }
  